
html, body {
    background-color: lavender;
    margin: 0;
    height: 100%;
}

h2 {
    color: teal;
    margin: 15px 0;
}

.img {
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    border: 1px solid teal;
    border-radius: 5%;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.header {
    color: teal;
    text-align: center;
    margin: 0;
    border-bottom: 5px solid teal;
}

.main {
    height: 100%;
}

.main-container {
    
}

.link-container {
    border-right: 2px solid teal;
    background-color: teal;
    height: 800px;
    margin: 30px;
    padding: 1%;
    padding-left: 2%;
    width: 22%;
}

.link {
    color: lavender;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
}

.description-container {
    border: 2px solid teal;
    font-size: 21px;
    margin: 30px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 2%;
    padding-right: 8%;
    width: 75%;
}

.teal-text {
    color: teal;
}


/* Announcments */

.announcement {
    color: teal;
    padding: 10px;
}

.announcement-heading {
    padding-bottom: 5px;
}

.announcement-content {
    border-bottom: 5px solid teal;
    padding-left: 5%;
}

.teal-link {
    color: teal;
    font-weight: bold;
}

.top {
    text-align: right;
    padding-top: 5%;
    padding-right: 11%;
}

.top-link {
    color: teal;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 100px;
}

.label {
    margin: 5px;
}

.inputs-container {
    width: 45%;
}

.input {
    margin: 5px;
    margin-left: 15px;
}

.input:last-child {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 30px;
}

.button {
    border: 2px solid teal;
    border-radius: 50%;
    color: teal;
    font-size: 18px;
    width: 30%;
    height: 30%;
}

.button:hover {
    cursor: pointer;
}

.ordered-list,.m0 {
    margin: 0;
}

.mb {
    margin-bottom: 20px;
}

.ml {
    margin-left: 40px;
}
