
html, body {
    background-color: lavender;
    margin: 0;
    height: 100%;
}

.img {
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    border: 1px solid teal;
    border-radius: 5%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.header {
    text-align: center;
    margin: 0;
    border-bottom: 5px solid teal;
}

.main {
    height: 100%;
}

.main-container {
    
}

.link-container {
    border-right: 2px solid teal;
    background-color: teal;
    height: 800px;
    margin: 30px;
    padding: 1%;
    padding-left: 2%;
    width: 22%;
}

.link {
    color: lavender;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
}

.description-container {
    border: 2px solid teal;
    font-size: 21px;
    margin: 30px;
    height: auto;
    padding-left: 2%;
    padding-right: 8%;
}

.teal-text {
    color: teal;
}